<div style="text-align: center;">Noroshiへようこそ</div>
<%= link_to("twitter", tweet_api_sns_twitter_url(auth_token: "3c3e8d69398ce40f74641b14b618355c", tweet: "test")) %>
<%= link_to("facebook", tweet_api_sns_facebook_url(auth_token: "3c3e8d69398ce40f74641b14b618355c")) %>

<%= link_to("google", tweet_api_sns_google_url(auth_token: "3c3e8d69398ce40f74641b14b618355c")) %>