<div style="text-align: center;">Noroshiへようこそ</div>
<%= link_to("twitter", tweet_api_sns_twitter_url(auth_token: "357df347189ea389c0ea983a3adf0560", tweet: "test")) %>
<%= link_to("facebook", tweet_api_sns_facebook_url(auth_token: "357df347189ea389c0ea983a3adf0560")) %>